!!!
%html
  /[if lt IE 7 ]         %html{class: "ie ie6", lang: "en"}
  /[if IE 7 ]            %html{class: "ie ie7", lang: "en"}
  /[if IE 8 ]            %html{class: "ie ie8", lang: "en"}
  /[if (gte IE 9)|!(IE)] %html{lang: "en"}
  %head
    / Basic Page Needs
    / ==================================================
    %title Hairoku - Haiku Validator on Heroku
    %meta{name: 'description', content: 'Haiku Validator on Heroku'}
    %meta{name: 'author', content: 'Robert Pearce'}
    %meta{name: 'keywords', content: 'Haiku, haiku, haiku validator, Haiku Validator, haiku heroku, heroku, hairoku, Hairoku, japanese poem, how to write a haiku'}

    / Mobile Specific Metas
    / ==================================================
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1'}

    / CSS
    / ==================================================
    %link{rel: 'stylesheet', type: 'text/css', href: '../stylesheets/base.css'}
    %link{rel: 'stylesheet', type: 'text/css', href: '../stylesheets/skeleton.css'}
    %link{rel: 'stylesheet', type: 'text/css', href: '../stylesheets/layout.css'}

    / Favicons
    / ==================================================
    / %link{rel: "shortcut icon", href: "images/favicon.ico"}
    / %link{rel: "apple-touch-icon", href: "images/apple-touch-icon.png"}
    / %link{rel: "apple-touch-icon", sizes: "72x72", href: "images/apple-touch-icon-72x72.png"}
    / %link{rel: "apple-touch-icon", sizes: "114x114", href: "images/apple-touch-icon-114x114.png"}

  %body
    %section.container
      .center
        %header.title.sixteen.columns{style: "margin-bottom:17px;border-bottom:1px solid #ddd"}
          %h1 Hairoku - The Haiku Validator on Heroku
        .one-third.column
          Think you have what it takes to write a Haiku?
          %br
          Please input your lovely poem in the space provided and see if it is, more or less, a haiku.
          %br
          %br
          %em
            %strong Disclaimer:
            This thing might not be perfect
        .one-third.column.haiku-input
          %fieldset
            %label{:for => "new-haiku"} Attempt Haiku Here
            %textarea#new-haiku{:name => "haiku_text", :rowspan => "3", :style => "width:100%"}
          .syllable-count
            0 syllables
        .one-third.column
          %img.asian-father{src: '../images/i_am_disappoint.jpg', style: 'display: none'}

    %script{src: "../lib/jquery-1.7.2.min.js"}
    %script{src: "../javascripts/application.js"}
    /[if lt IE 9]
      /%script{src: "http://html5shim.googlecode.com/svn/trunk/html5.js"}
    /[endif]


