!!!
%html
  /[if lt IE 7 ]         %html{class: "ie ie6", lang: "en"}
  /[if IE 7 ]            %html{class: "ie ie7", lang: "en"}
  /[if IE 8 ]            %html{class: "ie ie8", lang: "en"}
  /[if (gte IE 9)|!(IE)] %html{lang: "en"}
  %head
    / Basic Page Needs
    / ==================================================
    %title Hairoku - Haiku Validator on Heroku
    %meta{name: 'description', content: 'Haiku Validator on Heroku'}
    %meta{name: 'author', content: 'Robert Pearce'}
    %meta{name: 'keywords', content: 'Haiku, haiku, haiku validator, Haiku Validator, haiku heroku, heroku, hairoku, Hairoku, japanese poem, how to write a haiku'}

    / Mobile Specific Metas
    / ==================================================
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1'}

    / CSS
    / ==================================================
    %link{rel: 'stylesheet', type: 'text/css', href: '../stylesheets/base.css'}
    %link{rel: 'stylesheet', type: 'text/css', href: '../stylesheets/skeleton.css'}
    %link{rel: 'stylesheet', type: 'text/css', href: '../stylesheets/layout.css'}

    / Favicons
    / ==================================================
    / %link{rel: "shortcut icon", href: "images/favicon.ico"}
    / %link{rel: "apple-touch-icon", href: "images/apple-touch-icon.png"}
    / %link{rel: "apple-touch-icon", sizes: "72x72", href: "images/apple-touch-icon-72x72.png"}
    / %link{rel: "apple-touch-icon", sizes: "114x114", href: "images/apple-touch-icon-114x114.png"}

  %body
    #background-image-container
      / Totally ripped this from www.japanesescreens.com
      %img{src: '../images/flowers_web.jpg'}
    %a{:href => "https://github.com/rpearce"}
      %img{:alt => "Fork me on GitHub", :src => "https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png", :style => "position: absolute; top: 0; right: 0; border: 0;"}
    %section.container
      .center
        %header.title.sixteen.columns
          %h1 Hairoku - The Haiku Validator on Heroku
        .one-third.column.information
          Think you have what it takes to write a haiku?
          %br
          Please input your lovely poem in the space provided and see if it is, more or less, a haiku.
          %br
          %br
          %em
            %strong Disclaimer:
            This thing might not be perfect
          %br
          %br
          %a{href: 'http://en.wikipedia.org/wiki/Haiku', target: '_new'}
            Learn about haikus

        .one-third.column
          %a.twitter-follow-button{"data-show-count" => "false", "data-size" => "large", :href => "https://twitter.com/RobertWPearce"}
            Follow @RobertWPearce
          %br
          %a{href: 'https://www.github.com/rpearce/hairoku', style: 'text-decoration:none'}
            %img{src: '../images/github-logo.png'}

        .one-third.column.haiku-input
          %fieldset.right
            %label{:for => "new-haiku"} Attempt Haiku Here
            .left
              %img.line-one{src: '../images/green_check_small.png'}
              %br
              %img.line-two{src: '../images/green_check_small.png'}
              %br
              %img.line-three{src: '../images/green_check_small.png'}
            %textarea#new-haiku{:name => "haiku_text", :rowspan => "3"}

            .syllable-count
              0 syllables
        .clear
        .one-third.column &nbsp;
        .one-third.column
          .haiku-validated
            .submit-button
              %h4 Send haiku to ancestors
            .immortality-achieved
              %h5 Immortality achieved.
              %img{src: '../images/green_check.png'}
              %br
              %em click to begin anew
          %img.asian-father{src: '../images/i_am_disappoint.jpg'}
      .clear

      %script{src: "../lib/jquery-1.7.2.min.js"}
      %script{src: "../javascripts/application.js"}
      :javascript
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
